.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.item {
  text-align: center;
}

.image {
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.name {
  font-weight: 600;
  margin: 0;
  color: #fff;
}

.character {
  font-size: 14px;
  color: #aaa;
  margin: 0;
}
